extends layout 
block content
    .card(style='margin:auto')
        a(href='/quiz')
            button().function-button Lista quizów
        if loggedin
            a(href='/quiz/stats')
                button.function-button Moje statystyki
        else
            a(href='/users/login')
                button.function-button login