doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    form(action='/users/logout', method='post', name='formLogout')
      input(type="hidden", name="_csrf", value=csrfToken)
      inpit(type='submit', value='Logout')
    .topnav
      a Witaj, #{username}
      a(href='/').hv Home
      a(href='/quiz/stats').hv Stats
      a(href='/users/changepass').hv Change password
      a#logout.hv Logout

    script.
      var button = document.getElementById('logout');
      button.addEventListener('click', ()=>{
        document.querySelector('form[name="formLogout"]').submit();
      });
        
    block content
