doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    if (invalid)
        p.error Ivalid username or password
    if (missing)
        p.error Missing username or password
    .card(style='margin: auto')
        form(action='auth' method='POST')
            input(type='text' name='username' placeholder='Username' required='')
            input(type='password' name='password' placeholder='Password' required='')
            input(type='submit' value='sign in')