extends layout
block scripts
  script(type='module' src='/javascripts/main.js')
block content
  #main-container.grid-container
  
    .intro-container.card

      if isEmpty
        p#introText
          | Wszystkie quizy zostały przez ciebie rozwiązane!
      else
        p#introText
          | Wybierz sobie jakiś quiz
        ol#quizList
          each quiz in quizzes
            li
              p.QuizTitle #{quiz.name}
              button(data-arg1=quiz.id data-arg2=quiz.name).quizSelectButton.function-button Load Quiz

    #question-container.card.hidden
      #image-board-container
        p#quizTitle  TYTYYYYYŁ
      #start-container(style='text-align: center;')
        button#start-button.function-button START QUIZ
      #questions
      #after-quiz.hidden
        div(style='width: 100%; overflow: auto;')
          table#result-table
            tr
              th
                | Pytanie
              th
                | Twoja 
                br
                | odpowied&zacute;jade
              th
                | Prawid&lstrok;owa 
                br
                | odpowied&zacute;
              th
                | Kara
        div(style='text-align: center;')
          p#score-text Tw&oacute;j wynik to:
          p#score-display 21:37:00
      #button-container.grid-container.hidden
        #container-prvs
          button#prvs Poprzednie 
        #container-next
          button#next Nast&eogon;ne
        #container-finish
          button#finish.function-button Zako&nacute;cz
    #timer-container.timer.hidden
      .more-important
        p#time-display
          | 00:00:00